<div class="add p-3" *ngIf="isAdminPanel">
  <div>
    <button type="button" class="btn btn-success" (click)="openModal(createCategryModal)">Add Catecory</button>
  </div>
</div>
<app-gread >
  <app-category-item body *ngFor="let cat of categories"
    [name]="cat.name"
    [imgUrl]="cat.imgUrl"
    [isAdminPanel]="isAdminPanel"
  >
  </app-category-item>
</app-gread>

<jw-modal id = {{createCategryModal}} *ngIf="isAdminPanel">
  <div header>
    <button (click)="closeModal(createCategryModal);">Close</button>
  </div>
  <div body>
    <app-category-create-modal
    (createNewCategory)="loadAllData()"
    (clouseModal)="closeModal(createCategryModal);">

    </app-category-create-modal>
  </div>
</jw-modal>

