<div class="add p-3">
  <div>
    <button type="button" class="btn btn-success" (click)="openModal('craete-edit-modal')">Add Catecory</button>
  </div>
</div>
<div class="category-gread">
  <app-category-item
    [name]="category.name"
    [imgUrl]="category.imgUrl"
  >
  </app-category-item>
  <app-category-item *ngFor="let cat of categories"
    [name]="cat.name"
    [imgUrl]="cat.imgUrl"
  >
  </app-category-item>



</div>

<jw-modal id="craete-edit-modal">
  <div header>
    <button (click)="closeModal('craete-edit-modal');">Close</button>
  </div>
  <div body>
    <app-category-create-modal
    (createNewCategory)="loadAllData()">

    </app-category-create-modal>
  </div>
</jw-modal>

